<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.boot.easy.excel.mapper.UserMapper">
    <select id="excelUserList" resultType="spring.boot.easy.excel.entity.UserDO">
  select id,
  `username` ,
  `password` ,
  `nickname`,
  `birthday` ,
  `phone` ,
  `height`,
  `gender` from tbl_user
    </select>
</mapper>
